<!DOCTYPE html><html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div class="aside floatleft">
    <div class="profile width100">
        <div class="pf_wrap">
            <div class="pf_part" th:if="${#authentication.principal} != null">
                <div class="clearfix">
                    <div class="pficon"></div>
                    <div class="pfname clearfix">
                         <p class="position" th:text="${#authentication.principal.member.position}"/>
                        <p class="name" th:text="${#authentication.principal.member.name}"/>
                       
                    </div>
                </div>
                <div class="bottom_pf clearfix">
                    <p class="dept" th:text="${#authentication.principal.member.department}"></p>
                    <p class="num" th:text="|내선번호 : ${#authentication.principal.member.phoneNo}|"> </p>
                </div>
            </div>

            <a class="btn jjblue" th:href="@{/member/edit.do}">정보수정</a>
            <a class="btn jjblue" th:href="@{/member/p/edit.do}">비밀번호변경</a>
        </div>
    </div>
    <div class="today_sch">
        <div class="title_bar clearfix">
            <h3>오늘의 일정</h3>
            <a class="more floatright" th:href="@{/schedule.do}"/>더보기</a>
        </div>
        <ul class="sch_list">
                    <li class='sch' th:each="s : ${todaySchedules}" th:if="${#strings.equals(s.type ,'SC')} or ${#strings.equals(s.type ,'OW')}">
                        <a role="button" onclick="">
                            <p class="sname" th:text="${s.title}"/>
                            <p class="stime" th:text="|${#strings.substring(s.strDt , 11 ,16)} - ${#strings.substring(s.endDt , 11 ,16)}|"/>
                        </a> 
                    </li>
                </c:if>
        </ul>
    </div>
    <div class="today_rest">
        <div class="title_bar clearfix">
            <h3>오늘의 휴가</h3>
            <a class="more floatright" th:href="@{/schedule.do}"/>더보기</a>
        </div>
        <ul class="sch_list">
        	<li class='rest' th:classappend="${#strings.equals(s.type, 'FV')} ? 'r_full' : 'r_half'" th:each="s : ${todaySchedules}" th:if="${#strings.equals(s.type ,'FV')} or ${#strings.equals(s.type ,'HV')} or ${#strings.equals(s.status, 'Y')}">
            	<a role="button" onclick="">
                	<p class="rtime" th:text="|${#strings.substring(s.strDt , 11 ,16)} - ${#strings.substring(s.endDt , 11 ,16)}|"/>
                    <p class="rname" th:text="${s.title}"/>
                </a>
           </li>
        </ul>
    </div>
</div>