<!DOCTYPE html><html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="include/htmlHeader"></div>
<body>
    <div class="wrap clearfix">
        <div class="bodypart width100 clearfix">
            <div th:replace="include/lnb"></div>

            <div class="container floatleft">
                <div th:replace="include/header"></div>

                <div class="content width100 clearfix">
                    <div class="mainpart floatleft">
                        <!-- 페이지 컨텐츠 -->
                        <div class="subtitle clearfix">
                            <div class="st clearfix">
                                <h3 class="st_title">일정관리</h3>
                                <span class="st_exp">일정 및 휴가를 조회하고 등록, 수정할 수 있습니다.</span>
                            </div>
                            <div class="locationbar clearfix">
                                <a th:href="@{/main.do}" class="home"></a>
                                <span class="local">일정관리</span>
                            </div>
                        </div>
                        <div class="topcal width100 clearfix">
                            <div class="restv floatleft">
                                <div class="midrv">
                                    <p class="restday rd1">나의 남은 연차 일수는</p>
                                    <p class="restday rd2"><span class="rd" th:text="|${vacationDays.total -vacationDays.use}일|"></span> 입니다.</p>
                                </div>
                                <div class="botrv">
                                    <div class="btrest clearfix">
                                        <span class="brtitle">총 휴가</span>
                                        <span class="brdays"><span class="brcalc" th:text="|${vacationDays.total}일|">
                                    </div>
                                    <div class="btrest clearfix">
                                        <span class="brtitle">사용한 휴가</span>
                                        <span class="brdays" th:text="|${vacationDays.use}일|">
                                    </div>
                                </div>
                            </div>
                            <div class="defaulttb caltable floatleft">
                                <table class="width100">
                                    <colgroup>
                                        <col width="23%" />
                                        <col width="77%" />
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>일정 종류</th>
                                            <td class="clearfix">
                                                <label class="chklabel">
                                                    <input class="check" id="search-typeSC" type="checkbox" value="SC" checked><span class="checkwd">일정</span>
                                                </label>
                                                <label class="chklabel">
                                                    <input class="check" id="search-typeFV" type="checkbox" value="FV" checked><span class="checkwd">휴가</span>
                                                </label>
                                                <label class="chklabel">
                                                    <input class="check" id="search-typeHV" type="checkbox" value="HV" checked><span class="checkwd">반차</span>
                                                </label>
                                                <label class="chklabel">
                                                    <input class="check" id="search-typeOW" type="checkbox" value="OW" checked><span class="checkwd">외근</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>캘린더 종류</th>
                                            <td>
                                                <label class="chklabel">
                                                    <input class="check" name="calendar-type" type="radio" value="" checked><span
                                                        class="checkwd">회사 캘린더</span>
                                                </label>
                                                <label class="chklabel">
                                                    <input class="check" name="calendar-type" type="radio" value="m" /><span class="checkwd">내
                                                        캘린더</span>
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="mcpart" id='calendar-container'>
                            <div id='calendar'></div>
                        </div>
                    </div>
                    <div th:replace="include/rnb"></div>
                </div>
            </div>
        </div>
        <div th:replace="schedule/edit-modal"></div>
        <div th:replace="schedule/write-modal"></div>
        <div th:replace="include/datepicker"></div>
       <!--  <%@ include file="/WEB-INF/views/schedule/write-modal.jsp"%>
        <%@ include file="/WEB-INF/views/schedule/edit-modal.jsp"%>
        <%@ include file="/WEB-INF/views/include/datepicker.jsp" %>
        <%@ include file="/WEB-INF/views/include/fullcalendar.jsp" %> -->
        <div th:replace="include/fullcalendar"></div>
    </div>
    <script th:inline="javascript">
    /*<![CDATA[*/
        const _id = [[${#authentication.principal.member.id}]];
        const _name = [[${#authentication.principal.member.name}]];
        const _color = [[${#authentication.principal.member.useColor}]];
    /*]]>*/
    </script>
    <script th:src="@{/common/js/jscolor.js}"></script>
    <script th:src='@{/common/js/schedule/schedule-common.js}'></script>
	<script th:src='@{/common/js/schedule/schedule-write.js}'></script>
	<script th:src='@{/common/js/schedule/schedule-edit.js}'></script>

</body>

</html>