<!DOCTYPE html><html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="include/htmlHeader"></div>
<body>
	<div class="wrap clearfix">
		<div class="bodypart width100 clearfix">
			<div th:replace="include/lnb"></div>

			 <div class="container floatleft">
				<div th:replace="include/header"></div>
				
<div class="content width100 clearfix">
                <div class="mainpart floatleft">
                    <div class="subtitle clearfix">
                        <div class="st clearfix">
                            <h3 class="st_title">일정신청관리 - 관리자용</h3>
                            <span class="st_exp">일정신청을 승인하고 휴가일수를 확인합니다.</span>
                        </div>
                        <div class="locationbar clearfix">
                            <a th:href="@{/main.do}" class="home"></a>
                            <span class="local">일정신청관리(관)</span>
                        </div>
                    </div>
                    <div class="topbox width100">
                        <select class="selectbox width120px" id="search-member-id">
                            <option value="" disabled selected hidden>신청자명</option>
                            <option value="">전체</option>
                            <option th:each="m : ${members}" th:value="${m.id}" th:text="${m.name}"></option>
                        </select>
                        <div class="searchtb width45">
                            <div class="defaulttb sub_table ml10">
                                <table class="width100">
                                    <colgroup>
                                        <col width="27%"/>
                                        <col width="73%"/>
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th>승인여부</th>
                                        <td>
                                            <label class="chklabel s_chk">
                                                <input type="checkbox" id="search-status1" value='R' checked><span
                                                    class="checkwd">대기</span>
                                            </label>
                                            <label class="chklabel s_chk">
                                                <input type="checkbox" id="search-status2" value='Y'><span
                                                    class="checkwd">승인</span>
                                            </label>
                                            <label class="chklabel s_chk last_chk">
                                                <input type="checkbox" id="search-status3" value='N'><span
                                                    class="checkwd">비승인</span>
                                            </label>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="listbox width100">
                        <div class="lbtop mb10 clearfix">
                            <p id="totalSchedule" class="total"></p>
                            <a role="button" id="vacation-days-btn" class="btn jjblue">휴가일수조회</a> &nbsp;&nbsp;
                            <a role="button" id="holiday-api-btn" class="btn jjblue">공휴일 가져오기</a>
                        </div>
                        <div class="defaulttb main_table width100">
                            <table class="width100">
                                <colgroup>
                                    <col width="18%"/>
                                    <col width="18%"/>
                                    <col width="30%"/>
                                    <col width="18%"/>
                                    <col width="28%"/>
                                </colgroup>
                                <thead>
                                <tr class="not">
                                    <th>이름</th>
                                    <th>종류</th>
                                    <th>내용</th>
                                    <th>기간</th>
                                    <th>승인여부</th>
                                </tr>
                                </thead>
                                <tbody id="schedules">
                                </tbody>
                            </table>
                        </div>
                        <div id="page" class="pagination">
                        </div>
                    </div>
                </div>
                <div th:replace="include/rnb"></div>
            </div>
        </div>
    </div>
    <div th:replace="admin-schedule/admin-schedule-vacation-days"></div>
    <div th:replace="admin-schedule/admin-schedule-detail-info"></div>
</div>
<script th:src="@{/common/js/admin/admin-schedule/admin-schedule.js}"></script>
</body>
</html>