<!DOCTYPE html><html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="include/htmlHeader"></div>
<head>
<title></title>
</head>
<body>
	<div class="wrap loginwrap">
    <div class="login_header clearfix">
        <!-- <img class="logo" src="" alt="로고"> -->
        <a href="/jintranet/join.do" class="pagelink">회원가입</a>
    </div>
    <div class="login_container">
        <div class="login_main">
            <p class="login_title">인트라넷 로그인</p>
            <div class="login_box">
                <h3>로그인</h3>
                <form action="/jintranet/auth/loginProc" method="post">
	                <input type="text" id="username" name="username" class="inputbox" placeholder="아이디를 입력해주세요.">
	                <input type="password" id="password" name="password" class="inputbox" placeholder="비밀번호를 입력해주세요.">
	                <label class="idcheck">
	                    <input type="checkbox" id="saveId" class="check">
	                    <span>아이디 저장</span>
	                </label>
	                <button type="submit" class="loginbtn">로그인</button>
	                <a th:href="@{/oauth2/authorization/kakao}">
	                <img th:src="@{/common/img/kakao_login_medium_narrow.png}"></a> 
            	</form>
            </div>

            <div class="login_footer">
                <address>
                    <br>Copyright© 2022 chlee.
                </address>
            </div>
        </div>
    </div>
</div>
</body>
</html>